database/.env
data_preparation/normalized_data.csv
graph.html
./results/
/models/youtube_success_model.pkl
# PyCharm
.idea/

# Wirtualne środowiska
.venv/
env/
venv/
ENV/
lib/

# Pliki i katalogi systemu operacyjnego
.DS_Store
Thumbs.db

# Pliki kompilacji i cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.swp



# Logs
*.log

# Python bytecode
*.py[cod]

# Temporary files created by IDE
*.iml

# Jupyter Notebooks
.ipynb_checkpoints/

# Wyszukiwarki i pliki indeksu
.vscode/
